* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgb(20, 182, 182), rgb(169, 166, 166));
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.container2 {
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.3);
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 45%;
    width: 90%;
}

@media screen and (max-width:768px) {
    .container2 {
        box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.3);
        margin: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        height: 20%;
        width: 80%;
    }
}

#time {
    font-size: 6rem;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}

@media screen and (max-width:768px) {
    #time {
        font-size: 1.5rem;
        color: white;
        font-family: 'Roboto Mono', monospace;
        font-weight: bold;
    }
}

#foot>p {
    color: black;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;

}